/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
#overall-header {
  flex: 1;
  align-items:center;
  text-align: center;
  justify-content: center;
}

#section-header {
  flex: 1;
  align-items:center;
  text-align: left;
  justify-content: center;
  margin-left: 50px;
}

#section-body {
  flex: 1;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  margin-left: 50px;
}

h1 {
  font-size: 50px;
  font-family: Arial, sans-serif;
}

.section-header-text {
  font-size: 35px;
  color: blueviolet;
  font-family: Arial, sans-serif;
  margin-left: 50px;
}

.bulleted-list {
  margin-left: 12px;
  text-align: justify;
  line-height: 1.75;
  text-justify: auto;
  margin-right: 50px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.non-bulleted-list {
  margin-left: 12px;
  text-align: justify;
  line-height: 1.75;
  text-justify: auto;
  margin-right: 50px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  list-style: none;
}

#list-for-observations-questions {
  margin-left: 12px;
  text-align: justify;
  line-height: 1.75;
  text-justify: auto;
  margin-right: 50px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.spaced-bullets {
  margin-top: 40px;
  margin-bottom: 40px;
}

.non-spaced-bullets {
  margin-top: 15px;
  margin-bottom: 15px;
}

.persona-images {
  width:700px; /* you can use % */
  height: auto;
  padding: 20px;
}

.sketch-images {
  width:800px; /* you can use % */
  height: auto;
  padding: 20px;
}

.storyboard-images {
  width:500px; /* you can use % */
  height: auto;
  padding: 20px;
}

.storyboard-div {
  flex-direction: column;
  display: flex;
}

p {
  margin-left: 25px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  width: 500px;
}

.image-div {
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
}

.side-by-side-bullets {
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
}

.personas-description {
  margin-left: 12px;
  text-align: justify;
  line-height: 1.75;
  text-justify: auto;
  margin-right: 150px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

h3 {
  font-size: 18px;
  font-family: Arial, sans-serif;
  margin-left: 72px;
}




